
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/RALEWAY-REGULAR.TTF');
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/RALEWAY-BLACK_0.TTF');
    font-weight: 900;
}


.j_mina {
    background-image: url(/src/assets/img/background_minacarvao.jpg);
    background-size: cover;
    background-position: center;
}

.j_mina .food-card {
    background: #ffedc20f;
    padding: 15px;
    border: solid 1px;
    border-color: #ffedc24d;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    -webkit-transition: 0.1s;
    transition: 0.1s;
    height: 100%;
    cursor: pointer;
}
.j_mina .food-card:hover {background: #ffedc221; border-color: #ffedc2c2;}

.j_mina .food-card .food-card_content .food-card_title-section .food-card_title {
    font-size: 20px;
    color: #ffedc2;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.j_mina .food-card .food-card_img img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: inherit;
}
.j_mina .leftMine-card-1 hr {color: #bd913cc7;}

.card-corrige {
    --bs-card-border-width: 5px;
    --bs-card-bg: transparent;
}
.vaCor {color:#db1f3e;}
.roundedRight {border-radius: 0px 6px 6px 0px;}

.linkBut-01 {background-color: rgb(106, 34, 42);transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.linkBut-01:hover {background-color: rgb(161, 50, 62);}

.bi::before {transform: scaleX(-1);}

.avisoSemcompra {padding: 5px 0;}
.avisoSemcompra i {margin: 10px 0;font-size: 2.5rem;}

/*SCROLLBAR JOTA*/
::-webkit-scrollbar{width:7px!important;}
::-webkit-scrollbar-track{border-radius:3px;margin-left:.3rem!important;}
::-webkit-scrollbar-thumb{background: #a39c8b82!important;border-radius:3px}
::-webkit-scrollbar-thumb:hover{background:rgb(159,171,179)}
/*FIM - SCROLLBAR JOTA*/

/*LEFT MINE*/
.j_mina .leftMine {background: #f7f7f0;}
.j_mina .leftMine-card-1 {border: 0px solid #cba4576e;}
.j_mina .btn-mine-01 {border: 1px solid #c9a050; color:#c9a050;}
.j_mina .btn-mine-01:hover {border: 1px solid #c9a050; color:#fff; background:#c9a050;}

.j_mina .leftMine-product {
    border: 1px solid #cba4576e;
    padding: 20px;
    border-radius: 3px;
    background: #ffffff;
}

.j_mina .formPag {padding: 15px 0;}
.j_mina .formPag h5 {padding: 0px 0 5px 0;font-weight: 300;}

.j_mina .formPag .btn-input-label {
    cursor: pointer !important;
}
.j_mina .formPag .div-btn-input input[type='radio'].btn-input {
    appearance: none;
    margin: 0;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(87, 104, 116);
    transition: all ease-in-out .2s;
    border: 1px solid #b3b3b3b2;
    cursor: pointer;
}

.j_mina .formPag .div-btn-input input[type='radio'].btn-input:checked {
    appearance: none;
    margin: 0;
    border: 2px solid #6a222a;
    background-color: #f9f6e6;
    transition: all ease-in-out .2s;
}

.j_mina .formPag .div-btn-input:has(label.btn-input-label+input[type='radio'].btn-input:checked) label.btn-input-label {
    color: rgb(106 34 42);
    fill: rgb(106 34 42);
}

/*jnew*/
.mb-4 {transition: 0.4s all ease;}
.colList-1 {width: 65%;}
.colList-2 {width: 35%;}
@media (max-width: 1410px) {.colList-1 {width: 60%;}.colList-2 {width: 40%;}}
@media (max-width: 1330px) {.colList-1 {width: 55%;}.colList-2 {width: 45%;}}
@media (min-width: 676px) and (max-width: 1024px) {.colList-1 .fw-bold {font-size: 14px;}}
/* Fim - jnew*/

.form-control-borderless {
    border: none;
}
.form-control-borderless::placeholder {
    color: rgb(184, 184, 184);
}
.card:has(input.form-control-borderless) {
    transition: box-shadow ease-in-out .2s;
}

.card:has(input.form-control-borderless:focus){
    box-shadow: 0 .5rem 2rem rgba(0, 10, 36, 0.158)!important;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-original {
    width:calc(100% - 2rem);
    background-color:#009688;
    border: 0;
    border-radius: .325rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: all ease-in-out 0.15s;
}

.btn-original:hover {
    filter: contrast(2);
}
.btn-original:disabled {
    cursor: not-allowed;
    background-color: rgb(104 103 92 / 37%);
}
.btn-sec {background-color: white;}
.btn-sec:hover {background-color: #efefef;}

.badge-custom:after{
    content:attr(data-value);
    font-style: normal;
    font-size:12px;
    color: #fff;
    background: rgb(230, 65, 92);
    border-radius:10px;
    padding: 2px 5px;
    position:relative;
    left:-6px;
    top:-13px;
    opacity:1;
}
.custom-input:has(input:disabled) > p, .custom-input:has(input:disabled) > input {
    background-color: #ebe7d1 !important;
}
.custom-input {
    border: 1px solid #b3b3b3b2;
    position: relative;
    border-radius: 0.25rem;
    background-color: white;
}
.custom-input p {
    position: absolute;
    top: -21px;
    left: 10px;
    background-color: inherit;
    border: 1px solid #b3b3b3b2;
    border-bottom: 0;
    padding: 2px 0.5rem 0 0.5rem;
    line-height: 18px;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

body {
    background: #e5ecf1;
    font-family: "roboto", sans-serif;
    color: #37373f;
}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* background: white; */
    border-radius: 3px;
    margin-left: 0.5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(189, 204, 214);
    border-radius: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(159, 171, 179);
  }

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

.btn-active {
    flex: 1;
    border:2px solid rgb(112, 167, 226);
    background-color: rgb(188, 213, 240);
    color: rgb(25 103 185);
    cursor:pointer;
    transition: all ease-in-out .2s;
}
.btn-active:hover{
    box-shadow: 0 .3rem .7rem rgba(10, 5, 41, 0.199);
}
.btn-disable {
    flex: 1;
    background-color: rgb(217, 233, 250);
    color: rgb(87, 104, 116);
    cursor:pointer;
    transition: all ease-in-out .2s;
    border:2px solid rgb(217, 233, 250);
}

.ico-satc {
    height: 40px;
    width: 29px;
    background-image: url('./../logo_satc.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.total-dev {
    background-color: rgb(240, 206, 206);
    color: rgb(168, 44, 44);
}
.total-cre {
    background-color: rgb(191, 241, 204);
    color: rgb(44, 168, 110);
}

.food-card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    -webkit-transition: 0.1s;
    transition: 0.1s;
    height: 100%;
}

.food-card:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.food-card .food-card_img {
    display: block;
    position: relative;
}

.food-card .food-card_img img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.food-card .food-card_img i {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 25px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.food-card .food-card_img i:hover {
    top: 18px;
    right: 28px;
    font-size: 29px;
}

.food-card .food-card_content {
    padding: 15px;
}

.food-card .food-card_content .food-card_title-section {
    overflow: hidden;
}

.food-card .food-card_content .food-card_title-section .food-card_title {
    font-size: 18px;
    color: #37373f;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.food-card .food-card_content .food-card_title-section .food-card_author {
    font-size: 15px;
    display: block;
}

.food-card .food-card_content .food-card_bottom-section .space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers {
    margin-left: 17px;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers img,
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border: 3px solid #fff;
    margin-left: -17px;
    float: left;
    background: #f5f5f5;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
    position: relative;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13px;
}

.food-card .food-card_content .food-card_bottom-section .food-card_price {
    font-size: 18px;
    font-weight: lighter;
}

.food-card .food-card_content .food-card_bottom-section .food-card_order-count input {
    background: #e3eaef;
    border-color: #e3eaef;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

.food-card .food-card_content .food-card_bottom-section .food-card_order-count button {
    border-color: #e3eaef;
    border-width: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-input-label {
    position: absolute;
    width: 100%;
    height: 72px;
    top: 15px;
}
.div-btn-input:has(label.btn-input-label+input[type='radio'].btn-input:checked) label.btn-input-label{
    color: rgb(25 103 185);
    fill: rgb(25 103 185);
}
.div-btn-input:has(label.btn-input-label+input[type='radio'].btn-input:disabled) label.btn-input-label{
    fill: rgb(87, 104, 116);
    color: rgb(87, 104, 116);
}

input[type='radio'].btn-input {
    appearance: none;
    margin: 0;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background-color: #DAECFC;
    color: rgb(87, 104, 116);
    transition: all ease-in-out .2s;
    border:2px solid #DAECFC;
}
input[type='radio'].btn-input:checked {
    appearance: none;
    margin: 0;
    border:2px solid rgb(112, 167, 226);
    background-color: #a2cff9a6;
    transition: all ease-in-out .2s;
}
input[type='radio'].btn-input:disabled {
    appearance: none;
    margin: 0;
    background-color: rgb(162, 175, 189);
    cursor:pointer;
    transition: all ease-in-out .2s;
    border:2px solid rgb(138, 145, 161);
}

@media (min-width: 992px) {
    .food-card--vertical {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        height: 235px;
    }

    .food-card--vertical .food-card_img img {
        width: 200px;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}